@import "variable";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  position: relative;
  font-family: 'PingFangSC-Regular', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #f2f5f8;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  box-sizing: border-box;
  //color: #2c3e50;
  //margin-top: 60px;
  .page {
	height: 100%;
	width: 100%;
	position: relative;
  }
}

.ant-col-1, .ant-col-2, .ant-col-3, .ant-col-4, .ant-col-5, .ant-col-6, .ant-col-7, .ant-col-8, .ant-col-9, .ant-col-10, .ant-col-11, .ant-col-12, .ant-col-13, .ant-col-14, .ant-col-15, .ant-col-16, .ant-col-17, .ant-col-18, .ant-col-19, .ant-col-20, .ant-col-21, .ant-col-22, .ant-col-23, .ant-col-24 {
  float: none !important;
  display: inline-block !important;
}

.ant-form-item-label label {
  @include text-justify;
  display: block;
}

ol, ul {
  list-style: none outside none;
}

dd, dl, li, ol, ul {
  margin: 0;
  padding: 0;
}

dd, dl, li, ol, ul {
  margin: 0;
  padding: 0;
}


